@import url('https://fonts.googleapis.com/css?family=Aldrich|Lato');

html, body, * {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #90B6F7;
}

body {
    background: #90B6F7;
}

nav.mobile-menu {
    background: radial-gradient(ellipse farthest-corner at 45px 45px, #181b48 0%, rgb(27, 54, 71) 90%, #686c8a 100%);
    position: fixed;
    width: 100vw;
    z-index: 100;
    padding: 1vmin 0 1vmin 0;
}

nav.mobile-menu ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

nav.mobile-menu li {
    display: inline;
    font-family: 'Aldrich', monospace;
    font-size: 3vw;
}

.project-page {
    position: relative;
    top: 5vh;
    font-family: 'Lato', sans-serif;
    color: #181B48;
}

.home-link {
    border-style: dotted;
    border-width: 0 0.5vw 0 0.5vw;
    padding: 0 1.5vw 0 1.5vw;
    border: linear-gradient(148deg, rgba(147,183,245,0.35) 0%, rgba(145,200,254,1) 100%);
}

.project-page img {
    width: 100vw;
}

.not-allowed{
    color: #76777b;
    cursor: not-allowed;
}