@import url('https://fonts.googleapis.com/css?family=Aldrich|Lato');

@font-face {
    font-family: PixelText;
    src: url(fonts/code.ttf);
}

$code_title_font: 'PixelText';
$headerFont: 'Aldrich', monospace;
$maintextFont: 'Lato', sans-serif;

$linkColor: #ffffff;
$backgroundColor:#1B1B1B;
$headerBoxColor: #FF2014;
$boldBorder: #ECE9E6;
$colorShadow: rgba(245, 42, 42, 0.85);
$greyShadow: rgba(245, 42, 42, 0.15);
$mainTextColor: #ff443a;
$buttonGrad1: #DC281E;
$buttonGrad2: rgb(27, 54, 71);
$buttonGrad3: #F00000;
$buttonGradFull: radial-gradient(ellipse farthest-corner at 45px 45px, #DC281E 0%, #F00000 100%);
$buttonHoverShadow:darken(#DC281E, 20%);
$mainBgSolid: #D2DFF8;
// $mainBgGrad1: #e52d27;
// $mainBgGrad2: #ff2014;
$mainBgGrad1: #232526;
$mainBgGrad2: #414345;  
$sidebarBg: #90B6F7;
$projectsBg: #90B6F7;
$articleBg: #fbe4e4;
$galleryActive: #464141;
$scrollbarThumb: rgba(0,0,0,.2);
// $sidebarBg2: darken(saturate($mainBgSolid, 60%), 20%);;
$sidebarBg2: #e52d27;


html, body, * {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $linkColor;
}

#hero-home {
    background-image: url("../img/bg/Artboard 1@2x.png");
    background-color: $backgroundColor;
    background-size: cover;
    background-position: left top;
    background-origin: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vw;
    text-align: center;
}


#hero-home header {
    font-family: $headerFont;
    background: url("../img/head/Asset 1hdpi.png");
    background-color: $headerBoxColor;
    background-blend-mode: screen;
    border: 0.1em $boldBorder solid;
    // box-shadow: 8px 8px $greyShadow;
    padding: 0 5vw;
    color: $mainTextColor;
    margin-bottom: 4vh;
    position: relative;
    width: 70vw;
    bottom: 15%;
    line-height: 3.5em;
    text-shadow: 3px 3px 0 $greyShadow;
}


#hero-home h2 {
    font-size: 1em;
}

#start-button {
    border-radius: 0.5em;
    height: 15vh;
    width: 40vw;
    font-family: $headerFont;
    font-size: 4vw;
    color: $linkColor;
    border: 0;
    box-shadow: 0px 4px 5px 1px $greyShadow;
    background: $buttonGradFull;
    transition: box-shadow 0.5s, background 0.15s, transform 0.5s;
    cursor: pointer;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 4vh;
}

.typed-cursor{
    opacity: 0;
    padding-left: 0.1em;
    border-right: solid 0.05em $mainTextColor;
    /*height*/
    -webkit-animation: blink 0.7s 5;
    -moz-animation: blink 0.7s 5;
    animation: blink 0.7s 5;
}
@keyframes blink{
    0% { opacity: 0; }
    25% { opacity:1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes blink{
    0% { opacity: 0; }
    25% { opacity:1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes blink{
    0% { opacity: 0; }
    25% { opacity:1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

#start-button:hover {
    box-shadow: 0px 5px 0px $buttonHoverShadow;
    transform: rotateX(30deg);
}

#start-button:hover:active {
    text-shadow: 0 0 4px lighten($greyShadow, 50%);
    box-shadow: 0 1px 0 $greyShadow;
    background: radial-gradient(ellipse at center, lighten($buttonGrad1, 10%) 5%, lighten($buttonGrad3, 25%)  100%);
}

#main {
    background: $mainBgSolid;
    background: linear-gradient(270deg, $mainBgGrad1 0%, $mainBgGrad2 100%); /* w3c */
}

#main {
    display: flex;
}

#mid {
    padding: 1em 0 1em 2em;
}

.sidebar {
    width: 10vw;
    background: $sidebarBg2;
    border-right: 0.5vmin solid $boldBorder;
}

#sidebar-menu {
    width: inherit;
    font-size: 90%;
    text-align: center;
}

#sidebar-menu li {
    list-style: none;
}

#sidebar-menu img {
    margin: 1em 1em;
    width: 60%;
}

article p  {
    color: $mainTextColor;
    font-family: $maintextFont;
}

#sidebar-menu ul {
    margin-top: 5vh;
    font-family: $headerFont;
    font-size: 1.17em;
    line-height: 4em;
}

#sidebar-menu li {
    cursor: pointer;
    color: $linkColor;
    transition: border 250ms ease-in-out;
}

#sidebar-menu li:hover {
    background: lighten($sidebarBg2, 10%);
    border-top: 1px $boldBorder solid;
    border-bottom: 1px $boldBorder solid;
}

.page-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.about-me article {
    margin: 5vh 10vw;
    background: lighten(desaturate($articleBg, 15%), 20%);
    box-shadow: 18px 20px $colorShadow;
    padding: 1em 2em;
    max-height: 75vh;
    line-height: 1.5;
    font-size: 2vmin; 
    /*overflow: overlay;*/
}

#about-me-pic img {
        background: lighten(desaturate($articleBg, 15%), 20%);
    box-shadow: 18px 20px $colorShadow;
    /*width: 25vw;*/
    height: 25vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#projects h4 {
    font-family: $headerFont;
}

#projects {
    /*margin: 5vh 0 5vh 2vw;*/
    background: lighten(desaturate($articleBg, 15%), 20%);
    box-shadow: 18px 20px $colorShadow;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 75vw;
}

.gallery-entry {
    padding: 1em;
    transition: background border 1s;
    cursor: pointer;
}

#project-gallery {
    /*background: #90B6F7;*/
    padding: 1rem 2em;
    width: 20vw;
    height: 70vh;
    max-height: 90vh;
    /*overflow: auto;*/
    font-size: 1vw;
    /*width: 100%;*/
    /*height: 295px;*/
    overflow-y: scroll;
}

#project-expanded {
    background: rgba(darken(desaturate($articleBg, 15%), 20%), 0.5);
    padding: 1rem 2em;
    font-size: 1.8vh;
    line-height: 1.5;
    width: 50vw;
    height: 70vh;
    margin-left: 2em;
    /*margin: auto auto auto 1em;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}

#project-expanded .slick-list draggable {
    width: inherit;
    height: inherit;
}

#project-gallery .slick-list draggable {
    width: inherit;
    height: 90%;
}

#project-gallery .slick-track {
    transform: translate3d(0px, 0px, 0px);
}

.project-screens {
    margin-bottom: 2em;
}

.project-info {
    /*overflow-y: scroll;*/
    height: 30vh;
}

#contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2vw;
    grid-template-areas: "bye bye" 
                        "linkA linkB"
                        "linkC linkD";
    background: lighten(desaturate($articleBg, 15%), 20%);
    box-shadow: 18px 20px $colorShadow;
    width: 70vw;
    min-height: 30vh;
    padding: 5%;
    /*justify-items: center;*/
    align-items: center;
    margin-bottom: 5vh;
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  */
}

.contact-entry {
    padding: 1em;
    text-align: center;
    border-width: 0.4vmin 0 0.4vmin 0;
    border-color: darken($articleBg, 80%);
    border-style: dotted;
}

#email {
    grid-area: linkA;
}

#linkedin {
    grid-area: linkB;
}

#github {
    grid-area: linkC;
}

#resume {
    grid-area: linkD;
}

#self-end {
    font-size: 2vh;
    text-align: center;
    grid-area: bye;
}

/*#contact-container {
    width: 50vw;
}

.contact-entry {
    display: inline-block;
}
*/

#github, #resume {
    margin-top: 5%;
}

#contact-info span {
    font-family: $maintextFont;
    color: $mainTextColor;
    margin-left: 0.3em;
    /*font-size:*/
}

// #contact-info i {
//     margin-left: 1em;
// }

.scroll-bar-wrap#scroll-small {
  /*width: 300px;*/
  position: relative;
  /*margin: 2em auto;*/
}

.scroll-bar-wrap#scroll-expanded {
  /*width: 300px;*/
  position: relative;
  /*margin: 2em auto;*/
}

/*.project-entry {
    transition: all 2s;
}*/

/*.project-entry.active {
    opacity: 0;
}*/


// .project-entry.slick-slide {
//     height: 80vh;
// }

// .gallery-entry.slick-current {
//     background: #b4d6fd;
// }

.gallery-entry.active {
    background: $galleryActive;
}

.gallery-entry {
    color: $mainTextColor;
}

#project-gallery::-webkit-scrollbar {
  width: .4em; 
}
#project-gallery::-webkit-scrollbar,
#project-gallery::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
#project-gallery::-webkit-scrollbar-thumb {
  background: $scrollbarThumb; 
}

#project-expanded::-webkit-scrollbar {
  width: .4em; 
}
#project-expanded::-webkit-scrollbar,
#project-expanded::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
#project-expanded::-webkit-scrollbar-thumb {
  background: $scrollbarThumb;
}

/*.cover-bar {
  position: absolute;
  background: #90B6F7;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}*/
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*.project-entry.inactive {
    display: none;
}*/

@media (max-width: 780px) {
    #hero-home {
        justify-content: center;
    }

    #hero-home header {
        width: 75vw;
    }

    #start-button {
        height: 10vh;
    }

    .sidebar {
        display: none;
    }

    #mid {
        padding: 0;
    }

    .page-section {
        max-height: 150vh;
        height: auto;
        padding: 4vmin;
        max-width: 100vw;
        justify-content: flex-start;
    }

    .about-me article {
        max-height: initial;
        padding: 5vmin;
    }

    #projects {
        height: auto;
        box-shadow: 6px 8px rgba(245, 42, 42, 0.85);
        width: 70vw;
    }

    #project-expanded {
        display: none;
    }

    #project-gallery {
        display: grid;
        width: 100%;
        grid-template: auto / 1fr 1fr;
        grid-gap: 2vmin;
        height: auto;
    }

    .gallery-entry {
        font-size: 2vw;
    }

    .gallery-entry.inactive {
        border: 1em outset lighten($articleBg, 80%);
    }

    .gallery-entry:active {
        border: 1em inset darken($articleBg, 50);
    }

    .swiper-container {
        width: 75vw;
    }

    #contact-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content(50%);
        grid-template-areas: initial;
        grid-gap: 1vw;
        line-height: 2em;
        height: auto;
        max-width: 90vw;
        padding: 1em;
    }

    #email, #linkedin, #github, #resume {
        grid-area: none;
        grid-row: auto;
        border-width: 0.4vmin 0 0 0;
        border-color: darken($articleBg, 50%);
        border-style: dotted;
    }


    #self-end {
        text-align: center;
        grid-area: none;
        grid-row: 1;
    }
}